<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <security>
            <requestFiltering>
                <hiddenSegments>
                    <add segment="js"/>
                    <add segment="server"/>
                    <add segment=".env"/>
                </hiddenSegments>
            </requestFiltering>
        </security>
        <httpProtocol>
            <customHeaders>
                <add name="X-Content-Type-Options" value="nosniff"/>
                <add name="X-Frame-Options" value="DENY"/>
                <add name="X-XSS-Protection" value="1; mode=block"/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration> 